*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #eee;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 700;
}

.title {
  font-size: 30px;
  font-weight: 800;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* border: 1px solid red; */
}

.move-button {
  border: 1px solid #eee;
  background-color: transparent;
  border-radius: 60px;
  width: 120px;
  height: 120px;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
}

.move-icon {
  height: 50px;
  width: 50px;
  background-color: transparent;
  border-radius: 60px;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin: 50px 0 60px 0;
}

.reset-button {
  border: none;
  background-color: #eee;
  color: #000;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 30px;
  margin: 10px 0 0 0;
  cursor: pointer;
}
